<!DOCTYPE html>
<html>
<head>
    <title>User Added Successfully</title>
</head>
<body>
    <h1>Success!</h1>
    <p>The user has been successfully added to <%= shopData.shopName %>.</p>
    <a href="/users/adduser">Add another user</a>
    <br/>
    <a href="/">Return to homepage</a>
</body>
</html>
